html {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url("../images/the-flatiron-building.png");
  color: #ffffff;
}

header ul {
  list-style-type: none;
}

header li {
  padding-top: 10px;
  font-size: 18px;
}

header li:first-of-type {
  padding-top: 0px;
}

header a {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

footer a {
  color: white;
}
